@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap);

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

a,p,h1,label{
  color: white;
}

body {  
  font-family: 'Open sans', sans-serif; 
  background: rgb(18,18,20);
  height: 84vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box{
  width: 500px;
  height: 500px;
  background: rgb(4,211,97);

  box-shadow: -4px -4px 7px rgb(71, 71, 71),
    5px 5px 7px rgb(5, 5, 5);
}

.showCode{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(316deg, rgb(39, 39, 39), rgb(18,18,20));
  padding: 20px;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;

  position: absolute;
  bottom: 0;
}


label{
  font-size: 1.0em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="range"]{
  margin-bottom: 20px;
  color: red;
  background: chartreuse!important;
}

.radius{
  border: 1px solid rgb(117, 117, 117);
  padding: 40px;
}


/* INPUT RANGE STYLES */


input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #30FFDD;
  background: #757575;
  border-radius: 0px;
  border: 0px solid #000101;
}


input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #04D361;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

/* INPUT TYPE COLOR */

.color{
  text-align: center;
  margin-top: 5px;
}
